.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  gap: 30px;
}
h1.heading {
  font-size: 48px;
  color: #04aa6d;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-bottom: 2px dashed #04aa6d;
}

